
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #1f2937;
}

img {
  object-fit: cover;
}

body {
  background: #f3f4f6;
}
html {
  scroll-behavior: smooth;
}
